
@{
    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        <h2>Traffic management</h2>
        <p>
            The Bengaluru City Traffic Police (Generally known as BTP) is a specialized unit of the Bengaluru City Police responsible for overseeing and enforcing traffic safety compliance on city roads as well as managing the flow of traffic in the city of Bangalore, Karnataka.
        </p>
    </div>
    <div>
        <table border="0">
            <tr>
                <td><input type="button" value="RTO" name="Command"/></td>            
        
                <td><input type="button" value="Register Offence" name="Command" /></td>

                <td><input type="button" value="Pay Your Fine" name="Command" /></td>
            </tr>
        </table>
    </div>
}
