
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    {
        <table border="1">
            <tr>
                <td>Conform To delete?</td>
                <td><input type="submit" value="delete" /></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Back", "Index", "Home")</td>
            </tr>
        </table>
    }
}
