
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <tr>
        <td>@Html.ActionLink("Insert New Friend", "Insert", "Home")</td>
        <td>@Html.ActionLink("Edit Friends", "Edit", "Home")</td>

    </tr>
</table>