
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    {
        <table border="1">
            <tr>
                <td>Enter Friend Name</td>
                <td><input type="text" id="txtfname" name="txtfname" /></td>
            </tr>
            <tr>
                <td>Enter Place</td>
                <td><input type="text" id="txtplace" name="txtplace" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
                <td>@Html.ActionLink("Back","Index","Home")</td>
            </tr>

        </table>
    }
}